@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
*{
    padding:0;
    margin:0;
    box-sizing:border-box;
    font-family: 'Poppins', sans-serif;
}
.container{
    position: relative;
    width:100%;
    height:100vh;
    background-color:#fff;
}
header{
    position:absolute;
    width:100%;
    padding:30px 60px;
    display:flex;
    justify-content: space-around;
    align-items:center;
    z-index:2;
}
.logo{
    position: relative;
    display:flex;
    align-items:center;
}
.logo img{
    width:50%;
}
.logo a{
    text-decoration:none;
    text-transform: capitalize;
    font-size:18px;
    font-weight:600;
    color:#262626;
    margin-left:8px;
}
.logo a span{
    color:#efa662;
}
.menu ul{
    display:flex;
}
.menu ul li{
    list-style:none;
}
.menu ul li a{
    text-decoration:none;
    text-transform: capitalize;
    font-size:16px;
    font-weight:500;
    color:#262626;
    margin:0 18px;
    cursor: pointer;
    position: relative;
}
.menu ul li a::before{
    position: absolute;
    content:"";
    bottom:0px;
    left:0px;
    width:100%;
    height:1px;
    background-color:#262626;
    transition:0.5s;
    opacity:0;
}
.menu ul li a:hover::before{
    opacity:1;
    bottom:-8px;
}
.search-part{
    display:flex;
    align-items:center;
}
.search-part .location{
    font-size:16px;
    padding:12px 15px;
    background-color:#ffffff;
    border-radius:12px;
}
.search-part .input-box{
    width:280px;
    height:40px;
    background-color: #ffffff;
    border-radius:12px;
    display:flex;
    align-items:center;
    padding-left:12px;
    margin-left:10px;
    color:#8a8a8a;
}
.input-box input{
    background-color:transparent;
    border:none;
    padding-left:10px;
    outline:none;
}
.input-box input::placeholder{
    font-size:16px;
    color: #8a8a8a;
}
.shopping-icon i{
    margin:0 12px;
    cursor: pointer;
    transition:0.3s;
}
.shopping-icon i:hover{
    color: #c6bebe;
}
.swiper{
    position: relative;
    width:100%;
    height:100vh;
}
.swiper-slide{
    position: relative;
    width:100%;
    height:100vh;
    background-color:#fff;
}
.bg-circle{
    position: absolute;
    width:1200px;
    height:1200px;
    background-color:#f7d297;
    border-radius:50%;
    overflow:hidden;
    right:-38vh;
    top:-120vh;
}
.slide02 .bg-circle{
    background-color:#93ae75;
}
.slide03 .bg-circle{
    background-color:#f45e5e;
}
.circle-img{
    position: relative;
    width:55%;
    z-index:2;
    top:132vh;
    left:35vh;
    transform:rotate(5deg);
}
.slide-content{
    position: relative;
    top:25vh;
    padding:0 100px;
    display:flex;
}
.slide-info{
    position: relative;
    top:10vh;
}
.slide-info h1{
    font-size:3rem;
    font-weight:700;
    color:#efa662;
    text-transform: capitalize;
}
.slide02 .slide-info h1{
    color:#93ae75;
}
.slide03 .slide-info h1{
    color:#f45e5e;
}
.slide-info h2{
    font-size:2rem;
    font-weight:500;
    color:#333333;
}
.slide-info p{
    font-size:16px;
    color:#262626;
    line-height:1.5;
}
.slide-info h3{
    padding-top:40px;
    font-size:1.5rem;
    font-weight:500;
    color:#333333;
}
.slide-info .btn{
    position: relative;
    top:28px;
    left:-5px;

}
.slide-info .btn a{
    text-decoration:none;
    font-size:14px;
    text-transform: capitalize;
    font-weight:600;
    padding:10px 25px;
    background-color:#f9ddb1;
    color:#262626;
    border-radius:25px;
    margin:0 5px;
}
.slide-info .btn .btn01{
    background-color:transparent;
    border:1px solid #f9ddb1;
    color:#f4d199;
    transition:0.5s;
}
.slide02 .slide-info .btn .btn01{
    border:1px solid #93ae75;
    color:#93ae75;
}
.slide02 .slide-info .btn .btn01:hover{
    background-color:#93ae75;
    color:#262626;

}
.slide03 .slide-info .btn .btn01{
    border:1px solid #f45e5e;
    color:#f45e5e;
}
.slide03 .slide-info .btn .btn01:hover{
    background-color:#f45e5e;
    color:#262626;

}
.slide02 .slide-info .btn .btn02{
    background-color:#93ae75;
    color:#fff;
}
.slide02 .slide-info .btn .btn02{
    background-color:#93ae75;
    color:#fff;
}
.slide-info .btn .btn02{
    background-color:#efa662;
    color:#fff;
}
.slide03 .slide-info .btn .btn02{
    background-color:#f45e5e;
    color:#fff;
}
.slide-info .btn .btn01:hover{
    background-color:#f9ddb1;
    color:#262626;
}
.img-site{
    position: absolute;
    top:0vh;
    right:0vh;
}
.main-img{
    position: relative;
    width:80%;
    left:-35vh;
    top:23vh;
}
.order-box{
    position: absolute;
    right:10vh;
    top:55vh;
    display:flex;
    align-items:center;
    width:80vh;
}
.order-box img{
    padding-top:12px;
}
.order-btn a{
    text-decoration:none;
    padding:12px 30px;
    font-size:16px;
    font-weight:600;
    text-transform: capitalize;
    background-color:#f4d199;
    color:#ffffff;
    border-radius:25px;
    cursor: pointer;
    transition:0.5s;
}
.slide02 .order-btn a{
    background-color: #93ae75;
    color:#fff;
}
.slide03 .order-btn a{
    background-color:#f45e5e;
    color:#fff;
}


























